/* Write your CSS code here */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-weight: 500;
  color: #551e53;
  font-size: 20px;
  font-family: roboto;
}
.para {
  font-size: 15px;
}
.image {
  width: 150px;
}
@media screen and (min-width: 768px) {
  .image {
    width: 200px;
    height: 200px;
  }
  .heading {
    font-size: 32px;
  }
}
