/* Write your CSS code here */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container{
  display: flex;
  align-items: center;
}
.nav-img {
  height: 25px;
  width: 25px;
}
.head {
  font-size: 14px;
  margin-left: 5px;
}
.nav-tab {
  display: flex;
  list-style-type: none;
}
.nav-tab-item {
  margin-right:4px ;
}
.nav-link {
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .nav-link {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) {
  .head{
    font-size: 21px;
  }
}